/**************************
Base Element Styles
**************************/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  background-color: #fff;
  margin: 0;
}

header {
  font-size: 1.3em;
  color: #4ebbb5;
  background-color: #fff;
  text-align: center;
  padding: 5px 0 5px 0;
}


legend {
  color: #4ebbb5;
  font-size: 1.2em;
  font-weight: bold;
  text-align: left;
}

form {
padding: 0 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    font-size:20px;
}

label {
  color: #4ebbb5;
  font-size: .90em;
  font-weight: lighter;
  padding: 7px 0;
}


textarea {
  background: #f7f8f9;
  border-radius: 3px;
  border: none;
  width: 100%;
  height: 10em;
  resize: none;
}

button {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 1.3em;
  text-transform: capitalize;
  background: #4ebbb5;
  width: 100%;
  padding: 20px 0;
  border: none;
  border-radius: 3px;
  margin-top: 10px;
  cursor:pointer;
}

select {
  font-family: 'Merriweather', sans-serif;
  color: #bec2c5;
  font-size: 1em;
}

/**************************
Base Layout Styles
**************************/
.logo {
  font-size: 1.2em;
}

.banner {
  background: #4ebbb5;
  padding: 20px;
  margin-bottom: 10px;
}

.banner h3 {
  color: #fff;
  font-size: 1.2em;
  padding-top: 10px;
  margin-bottom: -5px;
}

.banner p {
  color: #fff;
  font-size: 1.1em;
  padding: 0px 20px;
  padding-bottom: 15px;
  margin-top: 0;
}

#signup-banner {
  text-align: center;
}

.contact-info,
.newsletter {
  border: none;
}

.top-line {
  border: solid 1px #fff;
  margin: 1em 8em;
}

.contact {
  padding: 10px 0;
}

.bottom-line {
  border: solid 1px #4ebbb5;
  margin: 1em;
}

.newsletter-info {
  padding-top: 10px;
}

.newsletter h4 {
  color: #4ebbb5;
  font-size: .90em;
  text-align: left;
  margin-bottom: 5px;
}

.copyright {
  color: #c4c8cb;
  font-size: .85em;
  font-style: italic;
  padding-top: 8px;
  text-align: center;
}

/******* Form Styles *******/

.contact-info input,
.contact-info select {
  background: #f7f8f9;
  border-style: none;
  border-radius: 3px;
  width: 100%;
  padding: .75em;
  margin-top: .5em;
  margin-bottom: 1em;
}

.newsletter input,
.newsletter label {
  display: inline-block;
}

.newsletter input,
.newsletter h4,
.other-topics,
 button {
  margin-left: 3px;
}

.info {
  text-align: left;
}

.options {
  text-align: left;
}

.other-topics {
  text-align: left;
  padding-top: 5px;
}

.options:nth-last-child(0n+4) {
    padding-bottom: 10px;
}

.zipcode input[type=text]{
  max-width: 150px;
}


/******* Focus States *******/

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input:focus,
textarea:focus {
  border: 2px solid #4ebbb5;
  transition: ease-out .1s;
}

input:hover,
textarea:hover {
  border: 1px solid #4ebbb5;
  background: #fff;
  color: #4ebbb5;
  transition: ease-out .1s;
}

button:hover {
  background: #fff;
  color: #4ebbb5;
  border: solid 1px #4ebbb5;
  transition: .1s;
}

/******* Placeholder Styles *******/

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #bec2c5;
  font-family: 'Merriweather', sans-serif;
  font-size: .60em;
  text-align: right;
  font-style: italic;
  padding-right: 1px;
}

::-moz-placeholder { /* Firefox 19+ */
  color: #bec2c5;
  font-family: 'Merriweather', sans-serif;
  text-align: right;
  font-style: italic;
  padding-right: 1px;
}

/******* Media Queries *******/

@media screen and (min-width: 768px) {

  form {
    width: 60%;
    margin: 0 auto;
  }

  .contact {
    padding-top: 20px;
    padding-bottom: 15px;
  }

  fieldset input, select, label {
    display: inline-block;
    vertical-align: middle;
  }

  fieldset input, select {
    margin-left: 125px;
  }

  #signup-banner {
    width: 100%;
  }

  .top-line {
    margin-left: 9em;
    margin-right: 9em;
    border: 1px solid #fff;
  }

  .contact-info input, select {
    max-width: 80%;
    clear: both;
    margin-top: -35px;
  }

  .contact-info label {
    width: 40%;
  }

  .contact-info select {
    margin-top: -35px;
  }
}
