/**************************
Base Element Styles
**************************/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Merriweather', sans-serif;
  line-height: 1.6;
  background-color: #fff;
  margin: 0;
}

header {
  font-size: 1.3em;
  color: #fff;
  background-color: #2d3945;
  text-align: center;
  padding: 5px 0 5px 0;
}

#signup-banner {
  text-align: center;
}

.contact-info,
.newsletter {
  border: none;
  display: flex;
}

legend {
  font-size: 1.2em;
  font-weight: bold;
  text-align: left;
}

/**************************
Base Layout Styles
**************************/

.banner h3 {
  padding-top: 10px;
  margin-bottom: -5px;
}

.banner p {
  color: #c4c8cb;
  font-size: .90em;
  font-weight: 100;
  padding: 0px 50px;
  padding-bottom: 15px;
  margin-top: auto 0;
}

#top-lines {
  margin-left: 1em;
  margin-right: 1em;
}

.first-line {
  border: solid 3px #2d3945;
  margin-top: 2em;
}

.second-line {
  border: solid 1px #2d3945;
  margin-top: -.3em;
  margin-bottom: 1em;
}

.bottom-line {
  border: solid 1px #2d3945;
  margin: 1em;

}

.contact {
  padding: 10px 0;
}

.newsletter-info {
  padding-top: 10px;
}

.newsletter h4 {
  color: #617383;
  font-size: .90em;
  text-align: left;
}

/******* Form Styles *******/

input,
select {
  background: #eff0f1;
  border-style: none;
  border-radius: 3px;
  width: 100%;
  padding: 2em;
  margin-top: .5em;
  margin-bottom: 1em;
}

label {
  color: #617383;
  text-align: left;
  font-size: .90em;
  font-weight: lighter;
  padding: 7px 0;
}

select {
  font-family: 'Merriweather', sans-serif;
  color: #617383;
  font-size: 1em;
}

/******* Placeholder Styles *******/

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #a8adb2;
  font-family: 'Merriweather', sans-serif;
  text-align: right;
  font-style: italic;
  padding-right: 1px;
}

::-moz-placeholder { /* Firefox 19+ */
  color: #a8adb2;
  font-family: 'Merriweather', sans-serif;
  text-align: right;
  font-style: italic;
  padding-right: 1px;
}
